.tmal-form {

}

.tmal-label {
    font-weight: bold;
    display: block;
    margin-bottom: .25rem;
}

.tmal-helper {
    margin-top: .25rem;
    font-size: .8em;
}

.tmal-field {
    display: none;
}

    .tmal-field.active {
        display: block;
    }

.tmal-message {
    font-style: italic;
    display: none;
}

    .tmal-message.active {
        display: block;
    }

.tmal-submit {
    display: none;
}